<div id='activity_wrapper'>

  <h1><%= current_user.name %>'s recent activities</h1>
    <ul>
      <% @activities.each do |activity| %>
          <%= render_activity activity %>
      <% end %>
    </ul>
  <%= link_to 'Back', admin_path %>
</div>
